*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

body {
	background-image: linear-gradient(
		to bottom,
		hsl(273, 75%, 66%),
		hsl(240, 73%, 65%)
	);
	background-repeat: no-repeat;
	height: 100vh;
	display: grid;
	place-content: center;
	font-family: 'Kumbh Sans', sans-serif;
}

.accordion-card {
	background-color: #fff;

	border-radius: 20px;
}

.illustration {
	display: none;
}

.faq {
}

.faq__title {
	text-align: center;
}

.faq__list div {
	display: flex;
	justify-content: space-between;
}

.faq__question {
	font-size: 13px;
}

.faq__answer {
	display: none;
}
